<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irfansyed.VAS.VASMonitring">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pdra"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Core.HomeActivity"
            android:label="@string/title_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Upload.SurveyCompletedActivity"
            android:label="@string/title_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Core.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Core.SplashScreenActivity"
            android:theme="@style/AppThemeNACB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Other.templete"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Other.Genifno"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3001_C3011"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3012_C3022"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3051_C3099"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3101_C3112"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3121_C3228"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3301_C3314"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3351_C3364"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3401_C3457"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3471_C3472"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GS.Q1101_Q1610"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3251_C3288_A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3251_C3288_B"
            android:screenOrientation="portrait" />
        <activity
            android:name=".C.C3251_C3288_C"
            android:screenOrientation="portrait" /> <!-- Ali files -->
        <activity
            android:name=".N.N2001_N2011"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2012_N2016"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2017_N2022_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2023_N2026"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2051_N2078"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2080_N2107"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2110_N2189a"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2190_N2191"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2192_N2202"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2211_N2248_A"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2211_N2248_B"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2211_N2248_C"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2251_N2260"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pending.SurveyPendingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2271_N2284"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2291_N2304"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2311_N2317"
            android:screenOrientation="portrait" />
        <activity
            android:name=".N.N2321_N2322"
            android:screenOrientation="portrait" /> <!-- Sajid files -->


        <activity
            android:name=".A.A4001"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4051"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4067"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4081"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4095"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4109"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4126"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4157"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4206"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4251"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4251_A4284"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4301"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4351"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A.A4401"
            android:screenOrientation="portrait" />


        <activity android:name=".GS.InterviewEnd" />
    </application>

</manifest>